page-denuncia {
    .form-erro{
      color: #ff0000;
      font-size: 12px;
    }
    .tarja-verde {
      background-color: #008000;
    }
    .tarja-vermelha {
      background-color: #ff0000;
    }
    .tarja-preta {
    background-color: #000000;
    }
    .informacoes-cinza {
      background-color: #e0e0e0;
    }
    .informacoes-branco {
      background-color: #ffffff;
    }
    .texto-branco {
      color: #ffffff;
    }
    .texto-cinza {
      color: #474646;
    }
    .texto-preto {
      color: #000000;
    }
}