<ion-header no-shadow>
  <ion-navbar color="primary">
    <ion-title>Tutorial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides dir="{{dir}}" (ionSlideWillChange)="verificarSlide($event)" pager>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.imagem" class="slide-imagem" />
      <h2 class="slide-titulo" [innerHTML]="slide.titulo"></h2>
      <p [innerHTML]="slide.descricao"></p>
      <button ion-button icon-end large clear (click)="iniciarApp()" end *ngIf="sair">
        Começar agora
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>