page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .swiper-pagination-bullet-active {
    background: #c40000;
    opacity: 1;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-titulo {
    margin-top: 2.8rem;
  }

  .slide-imagem {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  p {
    padding: 0 40px;
    font-size: 15px;
    line-height: 1.5;
    color: #60646b;

    strong {
      color: #000000;
      font-weight: 500;
    }
  }
}